[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
jsonpath_rw = "*"

[dev-packages]
yapf = "*"

[scripts]
server = "python manage.py runserver"

[requires]
python_version = "3.7.2"