[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
jsonpath_rw = "*"

[dev-packages]
yapf = "*"
pytest = "*"
pytest-spec = "*"
autopep8 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7.1"
